Repository Buzzvil/stella, pull requests merged in 2019-07, with the labels that each got.

#60 Fetch currentUser and display profile
  frontend/proto/usersvc_grpc_web_pb.d.ts
  frontend/proto/usersvc_grpc_web_pb.js
  frontend/proto/usersvc_pb.d.ts
  frontend/proto/usersvc_pb.js
  frontend/src/App.tsx
  frontend/src/AppHeader.tsx
  frontend/src/components/BookListCard/BookListCard.stories.tsx
  frontend/src/components/BookListCard/BookListCard.tsx
  frontend/src/components/IndexPage/AppHeader.tsx
  frontend/src/components/IndexPage/IndexPage.tsx
  frontend/src/components/SignInPage/SignInPage.tsx
  frontend/src/hooks/CurrentUser/CurrentUser.tsx
  frontend/src/theme/StandardTheme.tsx
  protobuf/usersvc/usersvc.proto
  usersvc/internal/app/usersrv/server.go
  usersvc/pkg/proto/usersvc.pb.go
Labels: 📁 Repo: frontend, 📁 Repo: protobuf, 📁 Repo: usersvc

#64 Add BookDetail base
  frontend/src/components/BookDetail/BookDetail.stories.tsx
  frontend/src/components/BookDetail/BookDetail.tsx
Labels: 📁 Repo: frontend

#65 RentalSVC - Define protocol
  frontend/proto/rentalsvc_grpc_web_pb.d.ts
  frontend/proto/rentalsvc_grpc_web_pb.js
  frontend/proto/rentalsvc_pb.d.ts
  frontend/proto/rentalsvc_pb.js
  protobuf/rentalsvc/rentalsvc.proto
  rentalsvc/internal/app/rentalsrv/server.go
  rentalsvc/internal/app/rentalsrv/server_test.go
  rentalsvc/internal/pkg/rental/entity.go
  rentalsvc/internal/pkg/rental/repo/dbmodel.go
  rentalsvc/internal/pkg/rental/repo/mapper.go
  rentalsvc/internal/pkg/rental/repo/repository.go
  rentalsvc/internal/pkg/rental/repository.go
  rentalsvc/internal/pkg/rental/usecase.go
  rentalsvc/internal/pkg/rental/usecase_test.go
  rentalsvc/pkg/proto/rentalsvc.pb.go
Labels: 📁 Repo: frontend, 📁 Repo: protobuf, 📁 Repo: rentalsvc

#61 Add not_found component
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/NoBooks/NoBooks.stories.tsx
  frontend/src/components/NoBooks/NoBooks.tsx
  frontend/src/img/ic_emoticon_sad.svg
  frontend/src/img/sad-cat.svg
Labels: 📁 Repo: frontend

#66 Add notification hook
  frontend/src/components/Notice/Notice.stories.tsx
  frontend/src/components/NotificationDisplay/NotificationDisplay.stories.tsx
  frontend/src/components/NotificationDisplay/NotificationDisplay.tsx
  frontend/src/hooks/AppContext/AppContext.tsx
  frontend/src/hooks/NotificationContext/NotificationContext.tsx
Labels: 📁 Repo: frontend

#67 RentalSVC - Implement GetUserStatus
  .gitignore
  frontend/proto/rentalsvc_pb.d.ts
  frontend/proto/rentalsvc_pb.js
  protobuf/rentalsvc/rentalsvc.proto
  rentalsvc/internal/app/rentalsrv/server.go
  rentalsvc/internal/pkg/rental/entity.go
  rentalsvc/internal/pkg/rental/repo/dbmodel.go
  rentalsvc/internal/pkg/rental/repo/mapper.go
  rentalsvc/internal/pkg/rental/repo/repository.go
  rentalsvc/internal/pkg/rental/repository.go
  rentalsvc/internal/pkg/rental/usecase.go
  rentalsvc/internal/pkg/rental/usecase_test.go
  rentalsvc/pkg/proto/rentalsvc.pb.go
Labels: 📁 Repo: frontend, 📁 Repo: protobuf, 📁 Repo: rentalsvc

#68 Show book detail page when clicked card
  frontend/src/components/BookDetail/BookDetail.tsx
  frontend/src/components/BookListCard/BookListCard.tsx
  frontend/src/components/IndexPage/IndexPage.tsx
  frontend/src/components/ModalWrapper/ModalWrapper.tsx
  frontend/src/hooks/AppContext/AppContext.tsx
  frontend/src/hooks/BookContext/BookContext.tsx
  frontend/src/hooks/BookLister/BookLister.tsx
  frontend/src/img/ic_close.svg
  frontend/src/index.tsx
  frontend/src/theme/StandardTheme.tsx
Labels: 📁 Repo: frontend

#69 Add router
  frontend/src/App.tsx
  frontend/src/components/IndexPage/IndexPage.tsx
  frontend/src/components/SignInPage/SignInPage.tsx
Labels: 📁 Repo: frontend

#72 Fix BookDetail story
  frontend/src/components/BookDetail/BookDetail.stories.tsx
  frontend/src/hooks/BookContext/BookContext.tsx
Labels: 📁 Repo: frontend

#74 Provide DATABASE_URL to deployment
  deployments/chart/stella/charts/ratingsvc/templates/deployment.yaml
  deployments/chart/stella/charts/ratingsvc/values.yaml
Labels: 📁 Repo: deployments

#75 [rentalsvc] Implement held entities
  frontend/proto/rentalsvc_pb.d.ts
  frontend/proto/rentalsvc_pb.js
  protobuf/rentalsvc/rentalsvc.proto
  rentalsvc/internal/app/rentalsrv/server.go
  rentalsvc/internal/pkg/rental/entity.go
  rentalsvc/internal/pkg/rental/repo/dbmodel.go
  rentalsvc/internal/pkg/rental/usecase.go
  rentalsvc/internal/pkg/rental/usecase_test.go
  rentalsvc/pkg/proto/rentalsvc.pb.go
Labels: 📁 Repo: frontend, 📁 Repo: protobuf, 📁 Repo: rentalsvc

#76 GetByFilter can support author's name
  booksvc/Gopkg.lock
  booksvc/internal/app/booksrv/server.go
  booksvc/internal/app/crawlersrv/runner.go
  booksvc/internal/pkg/book/mockRepo.go
  booksvc/internal/pkg/book/repo/repo.go
  booksvc/internal/pkg/book/repo/repo_test.go
  booksvc/internal/pkg/book/usecase_test.go
  booksvc/vendor/github.com/bxcodec/faker/.changes
  booksvc/vendor/github.com/bxcodec/faker/.gitignore
  booksvc/vendor/github.com/bxcodec/faker/.travis.yml
  booksvc/vendor/github.com/bxcodec/faker/LICENSE
  booksvc/vendor/github.com/bxcodec/faker/Makefile
  booksvc/vendor/github.com/bxcodec/faker/README.md
  booksvc/vendor/github.com/bxcodec/faker/address.go
  booksvc/vendor/github.com/bxcodec/faker/datetime.go
  booksvc/vendor/github.com/bxcodec/faker/faker.go
  booksvc/vendor/github.com/bxcodec/faker/glide.lock
  booksvc/vendor/github.com/bxcodec/faker/glide.yaml
  booksvc/vendor/github.com/bxcodec/faker/internet.go
  booksvc/vendor/github.com/bxcodec/faker/lorem.go
  booksvc/vendor/github.com/bxcodec/faker/payment.go
  booksvc/vendor/github.com/bxcodec/faker/person.go
  booksvc/vendor/github.com/bxcodec/faker/phone.go
  booksvc/vendor/github.com/bxcodec/faker/price.go
  booksvc/vendor/github.com/bxcodec/faker/support/slice/helpers.go
  booksvc/vendor/github.com/bxcodec/faker/uuid.go
Labels: 📁 Repo: booksvc

#77 Rent resource
  frontend/src/App.tsx
  frontend/src/components/BookDetail/BookDetail.tsx
  frontend/src/components/BookListCard/BookListCard.stories.tsx
  frontend/src/components/BookListCard/BookListCard.tsx
  frontend/src/components/IndexPage/AppHeader.tsx
  frontend/src/components/IndexPage/IndexPage.tsx
  frontend/src/components/RentalActions/RentalActions.tsx
  frontend/src/hooks/AppContext/AppContext.tsx
  frontend/src/hooks/AuthContext/AuthContext.tsx
  frontend/src/hooks/BookContext/BookContext.tsx
  frontend/src/hooks/CurrentUser/CurrentUser.tsx
  frontend/src/hooks/RentalStatus/RentalStatus.tsx
Labels: 📁 Repo: frontend

#80 Loading animation
  frontend/src/components/IndexPage/IndexPage.tsx
Labels: 📁 Repo: frontend

#83 Update Material-UI to ^4
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/IndexPage/IndexPage.tsx
  frontend/src/components/Star/Star.tsx
  frontend/src/components/Status/Status.tsx
  frontend/src/theme/StandardTheme.tsx
Labels: 📁 Repo: frontend

#82 BookSVC - Add ListBooks by ID
  booksvc/internal/app/booksrv/server.go
  booksvc/internal/app/booksrv/server_test.go
  booksvc/internal/pkg/book/repo.go
  booksvc/internal/pkg/book/repo/repo.go
  booksvc/internal/pkg/book/repo/repo_test.go
  booksvc/internal/pkg/book/usecase.go
  booksvc/internal/pkg/book/usecase_test.go
  booksvc/pkg/proto/booksvc.pb.go
  frontend/proto/booksvc_grpc_web_pb.d.ts
  frontend/proto/booksvc_grpc_web_pb.js
  frontend/proto/booksvc_pb.d.ts
  frontend/proto/booksvc_pb.js
  protobuf/booksvc/booksvc.proto
Labels: 📁 Repo: booksvc, 📁 Repo: frontend, 📁 Repo: protobuf

#84 Use public gateway and increase resource alloc
  deployments/chart/stella/charts/ratingsvc/templates/virtualservice.yaml
  deployments/chart/stella/charts/usersvc/templates/virtualservice.yaml
  deployments/chart/stella/templates/gateway.yaml
  deployments/chart/values.prod.yaml
Labels: 📁 Repo: deployments
