Repository Buzzvil/stella, pull requests merged in 2019-05, with the labels that each got.

#42 Fix tests after style changes
  frontend/src/components/Star/Star.test.tsx
Labels: 📁 Repo: frontend

#40 Drone CI
  .drone.yaml
  README.md
  booksvc/Gopkg.lock
  booksvc/cmd/booksvc/main.go
  booksvc/internal/app/booksrv/server_test.go
  booksvc/internal/pkg/book/bookrepo/repo_test.go
  booksvc/vendor/github.com/lib/pq/.gitignore
  booksvc/vendor/github.com/lib/pq/.travis.sh
  booksvc/vendor/github.com/lib/pq/.travis.yml
  booksvc/vendor/github.com/lib/pq/CONTRIBUTING.md
  booksvc/vendor/github.com/lib/pq/LICENSE.md
  booksvc/vendor/github.com/lib/pq/README.md
  booksvc/vendor/github.com/lib/pq/TESTS.md
  booksvc/vendor/github.com/lib/pq/array.go
  booksvc/vendor/github.com/lib/pq/buf.go
  booksvc/vendor/github.com/lib/pq/conn.go
  booksvc/vendor/github.com/lib/pq/conn_go18.go
  booksvc/vendor/github.com/lib/pq/connector.go
  booksvc/vendor/github.com/lib/pq/copy.go
  booksvc/vendor/github.com/lib/pq/doc.go
  booksvc/vendor/github.com/lib/pq/encode.go
  booksvc/vendor/github.com/lib/pq/error.go
  booksvc/vendor/github.com/lib/pq/go.mod
  booksvc/vendor/github.com/lib/pq/notify.go
  booksvc/vendor/github.com/lib/pq/oid/doc.go
  booksvc/vendor/github.com/lib/pq/oid/gen.go
  booksvc/vendor/github.com/lib/pq/oid/types.go
  booksvc/vendor/github.com/lib/pq/rows.go
  booksvc/vendor/github.com/lib/pq/scram/scram.go
  booksvc/vendor/github.com/lib/pq/ssl.go
  booksvc/vendor/github.com/lib/pq/ssl_permissions.go
  booksvc/vendor/github.com/lib/pq/ssl_windows.go
  booksvc/vendor/github.com/lib/pq/url.go
  booksvc/vendor/github.com/lib/pq/user_posix.go
  booksvc/vendor/github.com/lib/pq/user_windows.go
  booksvc/vendor/github.com/lib/pq/uuid.go
  booksvc/vendor/github.com/stretchr/testify/require/doc.go
  booksvc/vendor/github.com/stretchr/testify/require/forward_requirements.go
  booksvc/vendor/github.com/stretchr/testify/require/require.go
  booksvc/vendor/github.com/stretchr/testify/require/require.go.tmpl
  booksvc/vendor/github.com/stretchr/testify/require/require_forward.go
  booksvc/vendor/github.com/stretchr/testify/require/require_forward.go.tmpl
  booksvc/vendor/github.com/stretchr/testify/require/requirements.go
  booksvc/vendor/github.com/stretchr/testify/suite/doc.go
  booksvc/vendor/github.com/stretchr/testify/suite/interfaces.go
  booksvc/vendor/github.com/stretchr/testify/suite/suite.go
  rentalsvc/pkg/proto/rentalsvc.pb.go
Labels: 📁 Repo: booksvc, 📁 Repo: rentalsvc

#46 Deploy storybook
  .drone.yaml
  frontend/package-lock.json
  frontend/package.json
Labels: 📁 Repo: frontend

#45 Publish docker images
  .drone.yaml
  README.md
  deployments/chart/stella/charts/authsvc/values.yaml
  deployments/chart/stella/charts/booksvc/values.yaml
  deployments/chart/stella/charts/frontend/values.yaml
  deployments/chart/stella/charts/ratingsvc/values.yaml
  deployments/chart/stella/charts/rentalsvc/values.yaml
Labels: 📁 Repo: deployments

#44 Cookie auth
  .gitignore
  authsvc/cmd/webauthsvc/main.go
  authsvc/internal/app/authsrv/server.go
  authsvc/internal/app/authsrv/server_test.go
  authsvc/internal/app/webauthsrv/handlers.go
  authsvc/internal/app/webauthsrv/handlers_test.go
  authsvc/internal/app/webauthsrv/server.go
  authsvc/internal/app/webauthsrv/server_test.go
  authsvc/internal/pkg/auth/jwt/jwt.go
  booksvc/cmd/booksvc/main.go
  booksvc/internal/pkg/book/bookrepo/repo.go
  deployments/chart/stella/charts/authsvc/templates/web-deployment.yaml
  deployments/chart/stella/charts/booksvc/templates/deployment.yaml
  frontend/src/hooks/BookLister/BookLister.tsx
  rentalsvc/Dockerfile
Labels: 📁 Repo: authsvc, 📁 Repo: booksvc, 📁 Repo: deployments, 📁 Repo: frontend, 📁 Repo: rentalsvc

#48 BookSVC - Make Repo supports authors and GetByFilter case insensitive
  booksvc/internal/pkg/book/bookrepo/repo.go
  rentalsvc/cmd/rentalsvc/main.go
Labels: 📁 Repo: booksvc, 📁 Repo: rentalsvc
