Repository Buzzvil/stella, pull requests merged in 2019-08, with the labels that each got.

#85 Feature/profile page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/IndexPage/AppHeader.tsx
  frontend/src/components/IndexPage/IndexPage.test.tsx
  frontend/src/components/ProfilePage/Profile.stories.tsx
  frontend/src/components/ProfilePage/ProfilePage.tsx
  frontend/src/hooks/RentalStatus/RentalStatus.tsx
Labels: 📁 Repo: frontend

#81 ADD: aggregate_rating logic in rating-svc
  ratingsvc/internal/app/ratingsrv/server.go
  ratingsvc/internal/pkg/rating/repo/repository.go
Labels: 📁 Repo: ratingsvc

#86 Fix Rating 버그
  ratingsvc/internal/pkg/rating/repo/repository.go
Labels: 📁 Repo: ratingsvc

#87 Show holder&watcher in book detail
  frontend/src/App.tsx
  frontend/src/components/BookDetail/BookDetail.stories.tsx
  frontend/src/components/BookDetail/BookDetail.tsx
  frontend/src/components/RentalActions/RentalActions.tsx
  frontend/src/hooks/AppContext/AppContext.tsx
  frontend/src/hooks/CurrentUser/CurrentUser.tsx
  frontend/src/hooks/UserContext/UserContext.tsx
  frontend/src/hooks/UserLister/UserLister.tsx
  frontend/src/theme/StandardTheme.tsx
Labels: 📁 Repo: frontend

#88 Profile/activities
  frontend/src/components/ProfilePage/Profile.stories.tsx
  frontend/src/components/ProfilePage/ProfilePage.tsx
  frontend/src/components/RentalActivity/RentalActivity.stories.tsx
  frontend/src/components/RentalActivity/RentalActivity.tsx
  frontend/src/hooks/BookLister/BookLister.tsx
  frontend/src/hooks/RentalStatus/RentalStatus.tsx
Labels: 📁 Repo: frontend

#89 Enhance details, notification
  frontend/src/components/IndexPage/IndexPage.tsx
  frontend/src/components/Notice/Notice.tsx
  frontend/src/hooks/NotificationContext/NotificationContext.tsx
  frontend/src/hooks/RentalStatus/RentalStatus.tsx
  frontend/src/img/billy-face.svg
  frontend/src/theme/StandardTheme.tsx
Labels: 📁 Repo: frontend

#90 Profile/others
  frontend/src/App.tsx
  frontend/src/components/BookDetail/BookDetail.tsx
  frontend/src/components/ProfilePage/Profile.stories.tsx
  frontend/src/components/ProfilePage/ProfilePage.tsx
  frontend/src/hooks/BookLister/BookLister.tsx
  frontend/src/hooks/UserLister/UserLister.tsx
Labels: 📁 Repo: frontend

#93 Auth logout
  authsvc/internal/app/webauthsrv/handlers.go
  authsvc/internal/app/webauthsrv/handlers_test.go
  authsvc/internal/app/webauthsrv/server.go
Labels: 📁 Repo: authsvc

#94 add missing response
  booksvc/internal/app/booksrv/server.go
Labels: 📁 Repo: booksvc

#95 fix test
  booksvc/internal/pkg/book/repo/repo_test.go
Labels: 📁 Repo: booksvc
