Repository Buzzvil/stella, pull requests merged in 2019-09, with the labels that each got.

#99 fix getByFilter test
  booksvc/internal/pkg/book/repo/repo_test.go
Labels: 📁 Repo: booksvc

#97 FIX: update rating svc proto buf
  frontend/proto/ratingsvc_grpc_web_pb.d.ts
  frontend/proto/ratingsvc_grpc_web_pb.js
  frontend/proto/ratingsvc_pb.d.ts
  frontend/proto/ratingsvc_pb.js
Labels: 📁 Repo: frontend

#100 Crawling books and insert id from crawling data
  booksvc/cmd/bookcrawler/main.go
  booksvc/internal/app/crawlersrv/runner.go
Labels: 📁 Repo: booksvc

#98 Send notification to users if a book is available
  rentalsvc/Gopkg.toml
  rentalsvc/cmd/rentalsvc/main.go
  rentalsvc/internal/app/rentalsrv/noti_service.go
  rentalsvc/internal/app/rentalsrv/server.go
  rentalsvc/pkg/ext/book/booksvc.pb.go
  rentalsvc/pkg/ext/user/usersvc.pb.go
Labels: 📁 Repo: rentalsvc

#101 Implements watching and unwatching books
  frontend/src/components/RentalActions/RentalActions.tsx
  frontend/src/hooks/RentalStatus/RentalStatus.tsx
Labels: 📁 Repo: frontend
