Repository Buzzvil/stella, pull requests merged in 2019-06, with the labels that each got.

#55 Cat
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Cat/Cat.stories.tsx
  frontend/src/components/Cat/Cat.tsx
  frontend/src/data/cat_data.json
Labels: 📁 Repo: frontend

#41 Feature/crawler
  .gitignore
  booksvc/cmd/bookcrawler/main.go
  booksvc/internal/app/crawlersrv/runner.go
  booksvc/internal/pkg/crawler/crawlerrepo/repo.go
  booksvc/internal/pkg/crawler/entity.go
  booksvc/internal/pkg/crawler/repo.go
  booksvc/internal/pkg/crawler/usecase.go
Labels: 📁 Repo: booksvc

#56 Feature/cover image
  booksvc/Makefile
  booksvc/cmd/bookcrawler/main.go
  booksvc/db/migrations/20190613134230_add_cover_image_to_books.down.sql
  booksvc/db/migrations/20190613134230_add_cover_image_to_books.up.sql
  booksvc/docker-compose.test.yaml
  booksvc/internal/app/booksrv/server.go
  booksvc/internal/app/booksrv/server_test.go
  booksvc/internal/app/crawlersrv/runner.go
  booksvc/internal/pkg/book/bookrepo/repo.go
  booksvc/internal/pkg/book/entity.go
  booksvc/internal/pkg/book/mockRepo.go
  booksvc/internal/pkg/book/repo.go
  booksvc/internal/pkg/book/usecase.go
  booksvc/internal/pkg/crawler/crawlerrepo/repo.go
  booksvc/internal/pkg/crawler/entity.go
Labels: 📁 Repo: booksvc

#59 Use IndexPage component for main page
  frontend/src/App.tsx
  frontend/src/components/IndexPage/IndexPage.test.tsx
  frontend/src/components/IndexPage/IndexPage.tsx
  frontend/src/hooks/BookLister/BookLister.tsx
  frontend/src/theme/StandardTheme.tsx
Labels: 📁 Repo: frontend

#62 Apply dark theme
  frontend/src/components/BookListCard/BookListCard.stories.tsx
  frontend/src/components/BookListCard/BookListCard.tsx
  frontend/src/components/IndexPage/IndexPage.tsx
  frontend/src/theme/StandardTheme.tsx
Labels: 📁 Repo: authsvc, 📁 Repo: booksvc, 📁 Repo: deployments, 📁 Repo: frontend, 📁 Repo: protobuf, 📁 Repo: rentalsvc, 📁 Repo: usersvc
